.icon-wrapper {
  display: inline-grid;
}

.icon {
	grid-area: 1 / 1;
}

.fade-out {
	/* animation: fadeOut ease 1s; */
	animation-name: fadeOut;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}